---
import CodeLogin from "../../components/Auth/CodeLoginIsland.tsx";
---

<html lang="es">
  <head>
    <title>Acceso con código</title>
  </head>
  <body class="bg-neutral-50 text-stone-700">
    <CodeLogin client:load />
  </body>
</html>
