---
import { Image } from "astro:assets";

// data
import siteData from "@config/siteData.json";

// images
import logo from "@images/rings.png";
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home" class="">
	<Image
    src={logo}
    alt="Boda Noelia y Juanjo"
    loading="eager"
    width={100}
    height={100}
    class="h-10 w-10"
  />
	<div class="font-heading-1 text-xl uppercase m-2">{siteData.name}</div>
</a>
